<%  #in case of model do next:
  #POST /films/1/comments
  #or
  #Post /actors/1/comments
%>

<%= form_for [commentable, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: 'Add a comment' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
